body{

margin:0;
color:white;
text-align:center;

font-family:'Rajdhani',sans-serif;

/* FULL BACKGROUND IMAGE */

background:
linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.9)),
url("helmet.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;

min-height:100vh;

}



/* HEADER */

.header{

margin-top:40px;

}

.header-small{

font-family:'Orbitron',sans-serif;

color:#ff3c5f;

letter-spacing:8px;
font-size:12px;

}

.header-title{

font-family:'Orbitron',sans-serif;

font-size:80px;
font-weight:800;

letter-spacing:3px;

}

.header-title span{

color:#00e5ff;

}

.header-line{

width:120px;
height:3px;

background:linear-gradient(90deg,#ff3c5f,#00e5ff);

margin:15px auto;

}



/* TITLE */

h1{

font-family:'Orbitron',sans-serif;

font-size:40px;

margin-top:40px;
margin-bottom:30px;

}



/* TABLE */

table{

width:95%;
max-width:1600px;

margin:auto;

border-collapse:collapse;

background:rgba(0,0,0,.65);

backdrop-filter:blur(6px);

border-radius:10px;

overflow:hidden;

font-size:20px;

}



thead{

background:#222;

font-family:'Orbitron',sans-serif;

}

th{

padding:20px;

}

td{

padding:18px;

border-bottom:1px solid #333;

}



/* TOP 3 COLORS */

.rank1{

color:gold;
font-weight:bold;

}

.rank2{

color:silver;

}

.rank3{

color:#cd7f32;

}



/* ROW HOVER */

tbody tr:hover{

background:rgba(255,255,255,0.06);

}